
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo);
/*social media*/
[class^="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
#social-sidebar {
    left: 0;
    position: fixed;
    top: 15%;
    list-style-type: none;
}
#social-sidebar li:first-child a {
    border-top-right-radius: 5px;
}
#social-sidebar li:last-child a {
    border-bottom-right-radius: 5px;
}
#social-sidebar a {
    background: rgba(255, 0, 128, 0.7);
    color: #fff;
    text-decoration: none;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 24px;
    line-height: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
#social-sidebar a:hover span {
    left: 120%;
    opacity: 1;
}
#social-sidebar a span {
    font: 12px "Open Sans", sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 24px;
    left: -100%;
    margin-top: -16px;
    opacity: 0;
    padding: 4px 8px;
    position: absolute;
    transition: opacity 0.3s, left 0.4s;
    top: 50%;
    z-index: -1;
}
#social-sidebar a span:before {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
}
#social-sidebar a[class*="twitter"]:hover, #social-sidebar a[class*="twitter"] span, #social-sidebar a[class*="twitter"] span:before {
    background: #00aced;
}
#social-sidebar a[class*="facebook"]:hover, #social-sidebar a[class*="facebook"] span, #social-sidebar a[class*="facebook"] span:before {
    background: #3b5998;
}
#social-sidebar a[class*="gplus"]:hover, #social-sidebar a[class*="gplus"] span, #social-sidebar a[class*="gplus"] span:before {
    background: #e34429;
}
#social-sidebar a[class*="dribbble"]:hover, #social-sidebar a[class*="dribbble"] span, #social-sidebar a[class*="dribbble"] span:before {
    background: #ea4c89;
}
#social-sidebar a[class*="dropbox"]:hover, #social-sidebar a[class*="dropbox"] span, #social-sidebar a[class*="dropbox"] span:before {
    background: #8dc5f2;
}
#social-sidebar a[class*="github"]:hover, #social-sidebar a[class*="github"] span, #social-sidebar a[class*="github"] span:before {
    background: #9c7a5b;
}
#social-sidebar a[class*="evernote"]:hover, #social-sidebar a[class*="evernote"] span, #social-sidebar a[class*="evernote"] span:before {
    background: #6bb130;
}


    /*some general styles*/   
       .videocontainer {
           width: 40%;
           margin-left: 10%;
           float: left;
           display: block;
       }

       .hidden {
           overflow: hidden;
       }

       .textbox {
           display: block;
           width: 30%;
           float: left;
           margin-left: 2%;
       }

       .serviciosContainer {
           width: 80%;
           margin: 10% 10% 10% 10%;
       }

       .servicios {
           display: inline-block;
       }
       .serviciosCenter {
           margin-left: 10%;
           margin-right: 10%;
       }
       .container {
           width: 100%;
           margin-left: auto;
           margin-right: auto;
           padding-left: 15%;
           padding-right: 15%;
           padding-bottom: 1%;;
       }

       .containerPortfolio {
           width: 100%;
           margin-left: auto;
           margin-right: auto;
       }

       .clearfix {
           clear: both;
           width: 100%;
           height: 5px;
       }

       p {
           font-size: 1.1rem !important;
           color: rgb(0, 0, 0);
       }

       .container p {

           font-size: 1.3rem !important;
           color: white;
       }

       .CTAtienda .card-header {
           background-color: rgb(215, 215, 230);
       }
/*Button for scrolling to top*/

#myBtn {
 display: none; /* Hidden by default */
 position: fixed; /* Fixed/sticky position */
 bottom: 20px; /* Place the button at the bottom of the page */
 right: 30px; /* Place the button 30px from the right */
 z-index: 99; /* Make sure it does not overlap */
 border: none; /* Remove borders */
 outline: none; /* Remove outline */
 background-color: rgb(0, 0, 0); /* Set a background color */
 color: white; /* Text color */
 cursor: pointer; /* Add a mouse pointer on hover */
 padding: 15px; /* Some padding */
 border-radius: 10px; /* Rounded corners */
 font-size: 18px; /* Increase font size */
}

#myBtn:hover {
 background-color: #555; /* Add a dark-grey background on hover */
}


/*Font para el h2*/
@font-face {
    font-family: "ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
}


a {
    text-decoration: none;
    color: #9ca0b1;
}
.wrapper {
    text-align: center;
}
.wrapper h2 {
    color: #ffffff;
    font-size: 7rem;
    font-family: "ubuntu";
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Josefin Sans", sans-serif;
    /*background: linear-gradient(to right, #1e209e 10%, rgb(245, 0, 184) 50%, #e9c1f1 60%);*/
    background: white;
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2.5s linear infinite;
    display: inline-block;
}
@keyframes textclip {
    to {
        background-position: 200% center;
   }
}

/*Algunos colores*/

       .blue {
           background-color: blue;
       }

       .gray {
           background-color: gray;
       }

       .sky {
           background-color: skyblue;
       }

       .cyan {
           background-color: #538db9;
       }

       .white {
           background-color: white;
       }
       
/*primer bloque de portafolio prueba*/
       .colPortfolio {
           width: 40%;
           display: block;
           float: left;
       }
       .boxOne {
           width: 100%;
           height: 300px;
           display: block;
           float: left;
       }


       .boxOne:hover, .boxTwo:hover, .boxThree:hover, .boxFour:hover {
       transition:background-size 1s, background-color 1s;
       filter: grayscale(100%);
       }

       .boxTwo {
           width: 30%;
           height: 200px;
           display: block;
           float: left;
       }

       .boxThree {
           width: 60%;
           height: 500px;
           display: block;
           float: left;
       }

       .boxFour {
           width: 100%;
           height: 400px;
           display: block;
           float: left;
       }

       .boxPosition h3 {
           position: absolute;
           z-index: 1;
           top: 20px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }
       
       .boxPosition1 h3 {
           position: relative;
           z-index: 1;
           top: -330px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

               
       .boxPosition2 h3 {
           position: relative;
           z-index: 1;
           top: -360px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition3 h3 {
           position: relative;
           z-index: 1;
           top: -400px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition4 h3 {
           position: relative;
           z-index: 1;
           top: -670px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .containerPortfolio {
           width: 90%;
           margin-left: 7%;
           margin-right: 7%;
           margin-bottom: 7%;
       }



       .spaceTop {
           margin-top: 15px;
       }

       .spacer {
           width: 100%;
           height: 100px;
       }


   /*Clases de la seccion de la tienda*/
   .containerTienda {
           width: 100%;
           color: rgb(151, 151, 151);   
           height: 300px;        
       }
   .CTAtienda {
       width: 500px;
       color: #262626;
       height: 300px;
       display: block;
       margin: auto;
   }


   /*CSS del footer*/

       @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
       body {
           background: linear-gradient(0deg, rgb(0, 0, 0), 50%, #000000);
           font-family: 'Rubik', sans-serif;
       }
       .container-fluid {
           overflow: hidden;
           margin-top: 250px;
           background: #19191a;
           color: #627482 !important;
           margin-bottom: 0;
           padding-bottom: 0;
       }
       small {
           font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important;
       }
       .bold-text {
           color: #989c9e !important;
       }
       .mt-55 {
           margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important;
       }
       h3 {
           font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important;
       }
       .social {
           font-size: 21px !important;
       }
       .rights {
           font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important;
       }
       

       @media (min-width: 200px) and (max-width: 767px) {
       #social-sidebar {
           display: none;
       }

       .colPortfolio {
           width: 100%;
           display: block;
           float: left;
       }


       .boxOne {
           width: 100%;
           height: 200px;
           display: block;
           float: left;
       }

       .boxTwo {
           width: 100%;
           height: 200px;
           display: block;
           float: left;
       }

       .boxThree {
           width: 100%;
           height: 200px;
           display: block;
           float: left;
       }

       .boxFour {
           width: 100%;
           height: 200px;
           display: block;
           float: left;
       }
       
       .boxPosition h3 {
           position: absolute;
           z-index: 1;
           top: 20px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition1 h3 {
           position: relative;
           z-index: 1;
           top: -200px;
           left: 20px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition2 h3 {
           position: relative;
           z-index: 1;
           top: -220px;
           left: 20px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition3 h3 {
           position: relative;
           z-index: 1;
           top: -200px;
           left: 20px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition4 h3 {
           position: relative;
           z-index: 1;
           top: -200px;
           left: 20px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .serviciosCenter {
           margin-top: 5%;
           margin-bottom: 5%;
       }

       /*videoContainerMobile*/

       .videocontainer {
           width: 100%;
           margin: auto;
           display: block;
       }

       .textbox {
           display: block;
           width: 100%;
           margin: auto;
       }

       .wrapper {
           width: 100%;
           padding-left: 5%;
           padding-right: 5%;
       }

       .wrapper h2 {
       color: #ffffff;
       font-size: 3rem;
   }

   .spacer {
           width: 100%;
           height: 30px;
       }
   .container-fluid {
           overflow: hidden;
           margin-top: 50px;
   }

   .containerPortfolio img {
       width: 100%;
       height: auto;
   }

   .boxOne {
           width: 100%;
           height: auto;
           display: block;
           float: left;
   }

}

@media (min-width: 768px) and (max-width: 1024px) {

   #social-sidebar {
           display: none;
       }
 
 /* CSS tablet */
 .serviciosCenter {
           margin: 0;
       }

       .colPortfolio {
           width: 100%;
           display: block;
           float: left;
       }
   /*Servicios*/

       .boxPosition h3 {
           position: absolute;
           z-index: 1;
           top: 20px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition1 h3 {
           position: relative;
           z-index: 2;
           top: -500px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition2 h3 {
           position: relative;
           z-index: 2;
           top: -560px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       .boxPosition3 h3 {
           position: relative;
           z-index: 2;
           top: -500px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }


       .boxPosition4 h3 {
           position: relative;
           z-index: 2;
           top: -500px;
           left: 30px;
           color: white;
           text-shadow: 2px 2px #241f1f;
       }

       /*videoContainerMobile*/

       .videocontainer {
           width: 100%;
           margin: auto;
           display: block;
       }

       .textbox {
           display: block;
           width: 100%;
           margin: auto;
       }

       .wrapper {
           width: 100%;
           padding-left: 5%;
           padding-right: 5%;
       }

       .wrapper h2 {
       color: #ffffff;
       font-size: 3rem;
   }

   .spacer {
           width: 100%;
           height: 30px;
       }
   .container-fluid {
           overflow: hidden;
           margin-top: 50px;
   }

   .containerPortfolio img {
       width: 100%;
       height: auto;
   }

   .boxOne, .boxTwo, .boxThree, .boxFour {
           width: 100%;
           min-width: 700px;
           height: auto;
           display: block;
           float: left;
           max-height: 450px !important;
   }
 
}

/*estilos del form*/

.containerForm {
 width: 80%;
 max-width: 1200px;
 margin: 0 auto;
}

.containerForm * {
 box-sizing: border-box;
}

.flex-outer,
.flex-inner {
 list-style-type: none;
 padding: 0;
}

.flex-outer {
 max-width: 800px;
 margin: 0 auto;
}

.flex-outer li,
.flex-inner {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
}

.flex-inner {
 padding: 0 8px;
 justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
 margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
 padding: 8px;
 font-weight: 300;
 letter-spacing: .09em;
 text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
 flex: 1 0 120px;
 max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
 flex: 1 0 220px;
}

.flex-outer li p {
 margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
 padding: 15px;
 border: none;
}

.flex-outer li button {
 margin-left: auto;
 padding: 8px 16px;
 border: none;
 background: #333;
 color: #f2f2f2;
 text-transform: uppercase;
 letter-spacing: .09em;
 border-radius: 2px;
}

.flex-inner li {
 width: 100px;
}
    
/*Scroll bar*/
body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.newsContainer {
width: 60%;
overflow: auto;
height: 500px;
margin: 20px 0px 20px 0px;
}